html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .5s ease;
}

.cinnamowrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.rollwrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cinnamowrap:hover #canvas-container {
    opacity: 1;
}

.rollwrap img {
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain; /* Keeps the aspect ratio */
}

.rollwrap:hover #canvas-container {
    opacity: 1;
}